---
import Footer from "components/Footer.astro";
import Navbar from "components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mi portafolio</title>
  </head>
  <body
    class="bg-latte-base dark:bg-mocha-base text-latte-text dark:text-mocha-text transition-colors duration-300"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
